<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="/styles/home.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        html {
            background: {{ .Theme.Background }};
            color: {{ .Theme.Color }};
        }
        .contact-link {
            background: {{ .Theme.Color }};
        }
        .list-title {
            color: {{ .Theme.Color }};
        }
        .theme-colour.A {
            background: {{ (index .AllThemes 0).Color }};
        }
        .theme-colour.B {
            background: {{ (index .AllThemes 1).Color }};
        }
        .theme-colour.C {
            background: {{ (index .AllThemes 2).Color }};
        }
        .theme-colour.D {
            background: {{ (index .AllThemes 3).Color }};
        }
        .theme-colour.E {
            background: {{ (index .AllThemes 4).Color }};
        }
        .theme-colour.F {
            background: {{ (index .AllThemes 5).Color }};
        }
    </style>
</head>
<body>
    <div class="container">
        <details class="theme-selector-container">
            <summary>
                <div class="theme-selector">
                    theme
                </div>
            </summary>
            <div class="theme-colours">
                {{range $i, $t := .AllThemes}}
                    <a class="theme-colour {{$i | i2l}}" href="/?theme={{$t.Name}}"></a>
                {{end}}
            </div>
        </details>
        <div class="me">
            <h3 class="name">Hi, I'm Max 👋</h3>
            <p class="bio">
                I am a recent MEng graduate of the <a href="https://www.imperial.ac.uk/bioengineering" class="bio-link">Imperial College London bioengineering department</a> and a former software engineer at <a href="https://www.polyai.com/" class="bio-link">PolyAI</a> and <a href="https://www.medengine.co" class="bio-link">MedEngine</a>. 
                I am interested in neuro-AI, multi-agent reinforcement learning, AI alignment, and human-computer interaction. Take a look at my <a href="/projects?theme={{ .Theme.Name }}>projects</a> or <a href="/posts?theme={{ .Theme.Name }}">posts</a>, or feel free to reach out!
            </p>
            <div>
                <a class="contact-link" href="mailto:root@maxtaylordavi.es" target="_blank">📧</a>
                <a class="contact-link" href="https://github.com/maxtaylordavies" target="_blank">👨‍💻</a>
                <a class="contact-link" href="/cv" target="_blank">📜</a>
            </div>
        </div>
    </div>
</body>
</html>