<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        hr {
            color: #9147ff;
            background-color: #9147ff;
            display: block;
            margin: 0.5em auto;
            border-style: inset;
            border-width: 1px;
            height: 2px;
            width: 100%;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 99vw;
            height: 97vh;
            justify-content: center;
            align-items: center;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
            overflow: scroll;
            margin: 0;
            padding: 0;
        }

        .banner {
            position: absolute;
            top: 0;
            left: 0;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9147ff;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        }

        .banner-link {
            color: white;
        }

        .name {
            font-size: 28pt;
            font-weight: bold;
            margin-bottom: 0;
        }

        .bio {
            color: #808080;
            font-size: 14pt;
            margin-top: 10px;
        }

        .contact-link {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100px;
            font-size: 10pt;
            color: white;
            background-color: #9147ff;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            /*transition: 0.5s*/
        }

        .contact-link:hover {
            /*background-color: #772ce8;*/
            background-image: -webkit-linear-gradient(0deg, #9147ff, #e466bb);
            -webkit-animation: hue 3s infinite linear;
        }

        .me {
            display: flex;
            flex-direction: column;
            width: 45%;
            margin-bottom: 25px;
        }

        .stuff {
            display: flex;
            width: 45%;
            justify-content: space-between;
        }

        .recent-projects {
            width: 45%;
            margin-bottom: 126px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .recent-posts {
            width: 45%;
            /*margin-bottom: 126px;*/
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .list-title {
            font-size: 24pt;
            font-weight: bold;
            margin-bottom: 10px;
            text-decoration: none;
            color: black;
            margin-top: 16px;
        }

        .list-title[descr]::after {
            content: attr(descr);
        }

        .list-title:hover::after {
            content: "See more >";
            background-image: -webkit-linear-gradient(0deg, #f35626, #feab3a);
            -webkit-background-clip: text;
            color: transparent;
            -webkit-animation: hue 3s infinite linear;
        }

        @-webkit-keyframes hue {
            from {
                -webkit-filter: hue-rotate(0deg);
            }
            to {
                -webkit-filter: hue-rotate(-360deg);
            }
        }

        .project-list {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;
        }

        .post-list {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;
        }

        .list-item {
            font-size: 20pt;
            color: #808080;
        }

        .list-item-link {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18pt;
            color: #808080;
            margin-bottom: 7px;
            margin-top: 7px;
        }

        .post-list-item {
            font-size: 20pt;
            color: #808080;
            display: flex;
            justify-content: flex-start;
        }

        .post-list-item-link {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18pt;
            color: #808080;
            margin-bottom: 7px;
            margin-top: 7px;
        }

        .see-more {
            font-size: 10pt;
            color: black;
            margin-top: 10px;
        }

        .copyright {
            position: absolute;
            bottom: 0;
            font-size: 10pt;
            color: #808080;
            margin: 0;
        }

        .list-item-title {
            display: flex;
            flex-direction: row;
            /*justify-content: space-between;*/
            align-items: flex-start;
        }

        .dashes {
            color: grey;
        }
    </style>
</head>
<div class="banner">
    <a class="banner-link" href="mailto:maxtaylordavies@gmail.com">Currently seeking an internship for summer 2020!</a>
</div>
<body>
    <div class="container">
        <div class="me">
            <h3 class="name">Hi, I'm Max! 👋</h3>
            <p class="bio">
                I am a full-stack developer and current MEng student in the Imperial College London Bioengineering department. Feel free to say hi!
            </p>
            <div>
                <a class="contact-link" href="mailto:maxtaylordavies@gmail.com" target="_blank">email</a>
                <a class="contact-link" href="https://github.com/maxtaylordavies" target="_blank">github</a>
                <a class="contact-link" href="/cv" target="_blank">cv</a>
            </div>
        </div>
        <div class="stuff">
            <div class="recent-projects">
                <a href="/projects" class="list-title" descr="Recent Projects"></a>
                <hr>
                <ul class="project-list">
                    {{range .Projects}}
                    <li class="list-item">
                        <div class="list-item-title">
{{/*                            <img height="40" width="40" src={{.ThumbnailPath}} />*/}}
                            <a class="list-item-link" href="/project?id={{.Id}}">{{.Title}}</a>
                        </div>
                    </li>
{{/*                    <hr>*/}}
                    {{end}}
                </ul>
{{/*                <a class="see-more" href="/projects">see more ></a>*/}}
            </div>
            <div class="recent-posts">
                <a href="/posts" class="list-title" descr="Recent Posts"></a>
                <hr>
                <ul class="post-list">
                    {{range .Posts}}
                        <li class="post-list-item">
                            <a class="post-list-item-link" href="/post?id={{.Id}}">{{.Title}}</a>
                        </li>
{{/*                        <hr>*/}}
                    {{end}}
                </ul>
{{/*                <a class="see-more" href="/posts">see more ></a>*/}}
            </div>
        </div>
{{/*        <p class="copyright">© 2019 Max Taylor-Davies</p>*/}}
    </div>
</body>
</html>