[Unit]
Description=maxtaylordavi.es

[Service]
User=pi
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -c '/usr/local/go/bin/go build'
ExecStart=/home/pi/code/maxtaylordavi.es/maxtaylordavi.es
WorkingDirectory=/home/pi/code/maxtaylordavi.es/

[Install]
WantedBy=multi-user.target