[Unit]
Description=maxtaylordavi.es

[Service]
User=root
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -c '/usr/local/go/bin/go build'
ExecStart=/root/code/maxtaylordavi.es/maxtaylordavi.es
WorkingDirectory=/root/code/maxtaylordavi.es/

[Install]
WantedBy=multi-user.target
