<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Papers</title>
    <link rel="stylesheet" href="/styles/papers.css">
    <link rel="stylesheet" href="/styles/tags.css">
    <style>
        html {
            background: {{ .Theme.Background }};
            color: {{ .Theme.Color }};
        }
        .title {
            border-bottom-color: {{ .Theme.Color }}
        }
        .nav-link {
            background: {{ .Theme.Color }}
        }
    </style>
</head>
<body>
<div class="container">
    <div class='nav-links'>
        <a class='nav-link posts' href='/?theme={{ .Theme.Name }}'>home</a>
        {{if .Filtered}}
            <a class='nav-link' href='/papers?theme={{ .Theme.Name }}'>all</a>
        {{end}}
    </div>
    <div class="body">
        <p class="title">{{.Title}}</p>
        <ul class="list">
            {{$theme := .Theme.Name}}
            {{range .Papers}}
                <span class="year">{{.Key}}</span>
                {{range $i, $p := .Papers}}
                    <div class="paper {{$p.ID | oddOrEven}}">
                        <a class="paper-link" href="{{$p.URL}}" target="_blank">{{$p.Title}}</a>
                        <span class="paper-authors">{{$p.Authors}}</span>
                        <i class="paper-venue">{{$p.Venue}}</i>
                        <ul class="tags">
                            {{range $p.Tags}}
                                <a href="/papers?tag={{.}}&theme={{$theme}}" class="tag {{.}}">{{.}}</a>
                            {{end}}
                        </ul>
                    </div>
                {{end}}
            {{end}}
        </ul>
    </div>
</div>
</body>
</html>
