<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/styles/posts.css">
    <link rel="stylesheet" href="/styles/tags.css">
    <style>
        html {
            background: {{ .Theme.Background }};
            color: {{ .Theme.Color }};
        }
        .title {
            border-bottom-color: {{ .Theme.Color }}
        }
        .nav-link {
            background: {{ .Theme.Color }}
        }
    </style>
</head>
<body>
<div class="container">
    <div class='nav-links'>
        <a class='nav-link posts' href='/?theme={{ .Theme.Name }}'>home</a>
        {{if .Filtered}}
            <a class='nav-link' href='/posts?theme={{ .Theme.Name }}'>all posts</a>
        {{end}}
    </div>
    <div class="body">
        <p class="title">{{.Title}}</p>
        <ul class="list">
            {{$theme := .Theme.Name}}
            {{range .Posts}}
                <div class="list-item">
                    <div class="date-title">
                        <p class="date-text">{{.CreatedAt | fdate}}</p>
                        <a class="post-title" href="/post?id={{.Id}}&theme={{$theme}}">{{.Title}}</a>
                    </div>
                    <ul class="tags">
                        {{range .Tags}}
                            <a href="/posts?tag={{.}}&theme={{$theme}}" class="tag {{.}}">{{.}}</a>
                        {{end}}
                    </ul>
                </div>
            {{end}}
        </ul>
    </div>
</div>
</body>
</html>
