<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles/projects.css">
</head>
<body>
<div class="container">
    <div class='nav-links'><a class='nav-link' href='/'>home</a></div>
    <div class="body">
        <p class="title">All Projects</p>
        <ul class="list">
            {{range .}}
                <div class="list-item">
                    <a class="project-title" href="/project?id={{.Id}}">{{.Title}}</a>
                </div>
            {{end}}
        </ul>
    </div>
</div>
</body>
</html>