<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/">Home</a>
    </div>
    <div>
        <h1>All Projects</h1>
        <ul>
            {{range .}}
                <div>
                    <a href="/project?id={{.Id}}">{{.Title}}</a>
                    <p>{{.Body}}</p>
                </div>
            {{end}}
        </ul>
    </div>
</div>
</body>
</html>