<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            font-family: "Roboto Mono for Powerline";
            overflow: scroll;
        }

        .header {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .home-link {
            font-size: 10pt;
            color: #808080;
        }

        .body {
            position: absolute;
            top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            font-size: 36pt;
            font-weight: bold;
            margin: 0;
        }

        .list {
            margin-top: 137px;
        }

        .list-item {
            width: 500px;
            margin-bottom: 33px;
        }

        .project-title {
            font-size: 22pt;
            color: black;
            margin-bottom: 22px;
        }

        .project-intro {
            font-size: 11pt;
            color: #808080;
        }

        .copyright {
            position: absolute;
            bottom: 0;
            font-size: 10pt;
            color: #808080;
            margin: 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <a class="home-link" href="/">Home</a>
    </div>
    <div class="body">
        <h1 class="title">All Projects</h1>
        <ul class="list">
            {{range .}}
                <div class="list-item">
                    <a class="project-title" href="/project?id={{.Id}}">{{.Title}}</a>
                    <p class="project-intro">{{.Body | intro}}</p>
                </div>
            {{end}}
        </ul>
{{/*        <p class="copyright">© 2019 Max Taylor-Davies</p>*/}}
    </div>
</div>
</body>
</html>