html {
    background-color: #E3FFF0;
}

hr {
    color: #9147ff;
    background-color: #9147ff;
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
    height: 2px;
    width: 100%;
}

.theme-selector-container {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

.theme-selector {
    background-color: wheat;
    width: 80px !important;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0 lightgrey;
}

.theme-selector:hover {
    box-shadow: 3.5px 3.5px 0 lightgrey;
}

.theme-colours {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.theme-colour {
    background-color: pink;
    width: 25px;
    height: 25px;
}

.theme-colour.one {
    grid-row: 1;
    grid-column: 1;
}

.theme-colour.two {
    grid-row: 1;
    grid-column: 2;
}

.theme-colour.three {
    grid-row: 1;
    grid-column: 3;
}

summary {
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

summary::marker {
   color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 97vh;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #9147ff;*/
    background-image: -webkit-linear-gradient(0deg, #9147ff, #e466bb);;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.banner-link {
    color: white;
}

.name {
    font-size: 28pt;
    font-weight: bold;
    margin-bottom: 0;
}

.bio {
    color: #808080;
    font-size: 14pt;
    margin-top: 10px;
}

.contact-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    font-size: 10pt;
    color: white;
    background-color: #9147ff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    /*transition: 0.5s*/
}

.contact-link:hover {
    /*background-color: #772ce8;*/
    background-image: -webkit-linear-gradient(0deg, #9147ff, #e466bb);
    -webkit-animation: hue 3s infinite linear;
}

.me {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 25px;
}

.stuff {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.recent-projects {
    width: 45%;
    margin-bottom: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recent-posts {
    width: 45%;
    /*margin-bottom: 126px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-title {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    margin-top: 16px;
    border-bottom: 7px solid #9147ff;
    padding-bottom: 5px;
}

.list-title[descr]::after {
    content: attr(descr);
}

.list-title:hover::after {
    content: "See more >";
    background-image: -webkit-linear-gradient(0deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-animation: hue 3s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.project-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.post-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.list-item {
    font-size: 20pt;
    color: #808080;
}

.list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    color: #808080;
    margin-bottom: 4px;
    margin-top: 4px;
    text-decoration: none;
}

.post-list-item {
    font-size: 20pt;
    color: #808080;
    display: flex;
    justify-content: flex-start;
}

.post-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    color: #808080;
    margin-bottom: 4px;
    margin-top: 4px;
    text-decoration: none;
}

.see-more {
    font-size: 10pt;
    color: black;
    margin-top: 10px;
}

.copyright {
    position: absolute;
    bottom: 0;
    font-size: 10pt;
    color: #808080;
    margin: 0;
}

.list-item-title {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: flex-start;
}

.dashes {
    color: grey;
}