hr {
  background-color: #9147ff;
  display: block;
  margin: 0.5em auto;
  border-style: inset;
  border-width: 1px;
  height: 2px;
  width: 100%;
}

.theme-selector-container {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.theme-selector {
  background-color: wheat;
  color: #808080;
  width: 100px !important;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0 lightgrey;
  font-size: 13px;
  user-select: none;
}

.theme-selector:hover {
  box-shadow: 3.5px 3.5px 0 lightgrey;
}

.theme-colours {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.theme-colour {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 500ms;
}

.theme-colour:hover {
  border-radius: 12.5px;
}

.theme-colour.A {
  grid-row: 1;
  grid-column: 1;
}

.theme-colour.B {
  grid-row: 1;
  grid-column: 2;
}

.theme-colour.C {
  grid-row: 1;
  grid-column: 3;
}

.theme-colour.D {
  grid-row: 2;
  grid-column: 1;
}

.theme-colour.E {
  grid-row: 2;
  grid-column: 2;
}

.theme-colour.F {
  grid-row: 2;
  grid-column: 3;
}

summary {
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

summary::marker {
  color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 97vh;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #9147ff;*/
  background-image: -webkit-linear-gradient(0deg, #9147ff, #e466bb);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.banner-link {
  color: white;
}

.name {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  display: inherit;
}

.waving-hand {
  margin-left: 6px;
  transition: all 200ms;
}

.waving-hand:hover {
  transform: rotate(80deg);
}

.bio {
  color: #808080;
  font-size: 26px;
  margin-top: 10px;
}

.bio-link {
  color: blue;
  text-decoration: none;
  font-size: 22px;
  transition: all 200ms;
}

.bio-link:hover {
  font-size: 24px;
}

.page-link {
  display: inline-block;
  background: #007458;
  color: #48ff5b;
  text-decoration: none;
  padding: 0px 10px 4px 10px;
  border-radius: 20px;
  transition: all 200ms;
}

.page-link:hover {
  transform: scale(1.05);
}

.contact-link {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 85px;
  font-size: 18pt;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 200ms;
  margin-right: 5px;
}

.contact-link:hover {
  transform: scale(1.05);
}

.me {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 25px;
}
