html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
hr {
  color: #9147ff;
  background-color: #9147ff;
  display: block;
  margin: 0.5em auto;
  border-style: inset;
  border-width: 1px;
  height: 2px;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  width: 99vw;
  height: 97vh;
  overflow: scroll;
}
.header {
  position: absolute;
  top: 20px;
  left: 20px;
}
.home-link {
  font-size: 10pt;
  color: #808080;
}
.body {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: black;
  font-size: 42pt;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 0;
  border-bottom: 10px solid;
  padding-bottom: 5px;
}
.list {
  margin-top: 60px;
  padding: 0;
}
.list-item {
  width: 550px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.date-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.date-text {
  font-size: 18pt;
  color: black;
  opacity: 0.3;
  margin: 0;
  margin-right: 5px;
}
.post-title {
  font-size: 18pt;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.post-title:hover {
  font-style: italic;
  text-decoration: underline;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.nav-link:hover {
  background-image: -webkit-linear-gradient(0deg, #9147ff, #e466bb);
  -webkit-animation: hue 3s infinite linear;
  text-decoration: none;
}
.nav-link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  font-size: 12pt;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin-right: 10px;
}
.nav-links {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 15px;
  width: 100%;
  z-index: 100;
}
