p {
    margin-top: -15px;
}

em {
    font-style: normal !important;
    color: black;
    opacity: 30%;
    font-size: 20px;
}

.tags {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.tag {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.tag.university {
    
}

.tag.side {
    background-color: #FFA9A9;
}

.tag.tech {
    color: #606EE3;
    background-color: #C6CCFF;
}

.tag.culture {
    background-color: #D0FFE5;
}

.tag.personal {
    color: #FFAA00;
    background-color: #FFE0A1;
}