p {
  margin-top: -17px;
}

h1 {
  margin-bottom: 50px !important;
}

em {
  font-style: normal !important;
  color: black;
  opacity: 30%;
  font-size: 20px;
}

.tags {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.tag {
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
  box-shadow: 2px 2px 0 lightgrey;
}

.tag:hover {
  cursor: pointer;
  box-shadow: 3.5px 3.5px 0 lightgrey;
}

.tag.university {
  color: #21ab5f;
  background-color: #d6ffe8;
}

.tag.neuroscience {
  color: #dd00d4;
  background-color: #ffeae3;
}

.tag.side {
  color: #e44e4e;
  background-color: #ffd2d2;
}

.tag.tech {
  color: #606ee3;
  background-color: #c6ccff;
}

.tag.personal {
  color: #ffaa00;
  background-color: #ffe0a1;
}

.tag.web {
  color: #1df4c1;
  background-color: #007458;
}
