.tags {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #575757;
    margin-left: 5px;
}

.tag.university {
    
}

.tag.side {
    background-color: #FFA9A9;
}

.tag.tech {
    background-color: #BABFE9;
}

.tag.culture {
    background-color: #D0FFE5;
}

.tag.personal {
    background-color: #FFCE6B;
}